.container{
    width: 1900px;
    height: 950px;
    border: 2px black solid;
    background-color: beige;
    justify-content: center;
    align-items: center;
    display: flex;
}
.box{
    width: 250px;
    height: 250px;
    background-color: aquamarine;
    border: 2px solid black;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 1s 0.025s linear;
}

.box:hover{
    /* transform: rotate(360deg);
    transform: scale(2) */

    /* transform: scale(0.5);
    transform: rotate(-45deg); */

    /* transform: skew(45deg);
    transform: skew(-45deg); */

    transform: translate(150px, 100px);
}

p{
    font-size: 30px;
}